@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


main{
    background-color: #DF91E5;
    width: 100%;
    height: auto;
}


#logo{
    margin-left: 3.4rem;
    width: 4rem;
    height: 2.5rem;
}
.container-fluid{
    padding: 0;
    width: 97vw;
}
#menu-principal{
    display: flex;
    flex-direction: row;
}
#titulo-menu{
    font-weight: bolder;
    color: #1d8b28;
    width: auto;
}
#titulo-menu img{
    position: relative;
    margin-right: 1.4vw;
}
#offcanvasNavbar {
    background-color: #ca9fce;
}
.navbar{
    width: 97vw;
}

#fundo-topo{
    width: 100%;
    margin: 0;
    height: auto;
    background-image: url(img/fundo.png);
    background-repeat: no-repeat; 
}
#topo{
    width: 96vw;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* margin-top: 10vh; */
}
.titulo{
    color: #A10CD6;
    text-align: center;
    font-size: 44px;
    margin-top: 10vh;
}
#texto-topo{
    width: 45vw;
    height: auto;
    font-size: 22px;
    display: flex;
    align-items: center;
}
#texto-topo p{
    margin: auto;
    width: 80%;
    line-height: 38px;
}
#img-topo{
    width: 48vw;
    height: 70vh;
    margin: 2vh;
}
#img-topo img{
    width: 100%;
    height: 100%;
}

#meio{
    width: 100%;
    margin-top: 15vh;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: #171717;
    background: linear-gradient(180deg, rgba(223,145,229,1) 0%, rgba(223,145,229,1) 76%, rgba(255,255,255,1) 100%);
}
#conteudo-meio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-size: 20px;    
}
#conteudo-meio h3{
    font-size: 28px;
    color: #A10CD6;
}
#tratamentos p{
    width: 80%;
}
#sintomas{
    width: 45vw;
    height: auto;
    margin: auto;
    z-index: 1;  
    
}
#sintomas p{
    width: 80%;
}
#tratamentos{
    width: 45vw;
    height: auto;
    z-index: 1;  
}
#laco-fundo{
    width: 60vw;
    height: 430px;
    position: absolute;
    top: 140vh;
    left: 10vw;
    z-index: 0;
}
#laco-fundo img{
    width: 45vw;
    margin: auto;
}

#fim{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,180,249,1) 12%, rgba(223,145,229,1) 20%, rgba(223,145,229,1) 89%, rgba(255,255,255,1) 100%);
}
#fim h2{
    margin-bottom: 8vh;
}
.hp-direita{
    width: 90vw;
    margin: 3% auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.hp-img{
    width: 30vw;
    height: 35vh;
}
.rapunzel{
    cursor: pointer;
}
.hp-img img{
    border-radius: 25px;
    height: 100%;
    width: 90%;
    margin: auto;
}
.hp-texto{
    width: 60vw;
    margin: auto;
    font-size: 18px;
    line-height: 55px;
}
#fim i{
    font-size: 14px;
}
.hp-texto-celular{
    display: none;
}

footer{
    width: 100%;
    height: 185px;
    background-color: black;
    float: left;
}

#logo_rodape{
    /* background-color: white; */
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

#logo_rodape img{
    width: 70%;
    height: 80%;
    padding-top: 30px;
    margin-left: 50px;
}

#linha{
    width: 0,1%;
    height: 100%;
    position: relative;
    float: left;
    background-color: #000000;
}

#linha img{
    width: 100%;
    height: 93%;
    margin-top: 6px;
}


#acessibilidade{
    width: 20%;
    height: 50%;
    float: left;
    text-align: left;
    margin-left: 130px;
    font-size: 13px;
    font-family: "fonte1";
    top: 20px;
    margin-top: 12px;
}

#acessibilidade h6{
    margin: 20px;
    margin-top: 20px;
    color: white;
}

#acessibilidade a{
    text-decoration: none;
    margin: 20px;
    color: white;
}

#acessibilidade a:hover{
    color: #65A8FB;
}

#suporte{
    width: 20%;
    height: 50%;
    float: left;
    text-align: left; 
    font-size: 13px;
    font-family: "fonte1";
    top: 20px;
    margin-top: 31px;
}

#suporte h6{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

#suporte a{
    text-decoration: none;
    color: white;
}

#suporte a:hover{
    color: #65A8FB;
}

#social{
    font-size: 13px;
    font-family: "fonte1";
    color: white;
    top: 30px;
    width: 20%;
    height: 100%;
    float: left;
}

#social h6{
    margin-left: 30px;
    margin-top: 30px;
}

#social img{
    width: 15%;
    height: 23%;
    margin: 5px;
}
#lado{
    display: none;
}
/* Responsivo - celular */


        @media only screen and (max-width:480px) {
           
            
            main{
                width: 100vw;
               
                height: auto;
            }
            #fundo-topo{
                background-size: 250%;
            }
            main p{
                font-size: 18px;
            }
            .navbar{
                max-width: 480px;
            }
            #topo{
                height: auto;
            }
            #img-topo{
                display: none;
            }
            #texto-topo{
                width: 100vw;
                height: 100%;
                margin: 3%;
                display: block;
            }
            #texto-topo p{
                margin: 2% auto;
            }

            #meio{
                height: auto;
                width: 100vw;
            }
            #conteudo-meio{
                height: auto;
                display: flex;
                flex-direction: column;
                width: 90vw;
            }
            #sintomas{
                width: 100%;
                margin: auto;
               
            }
            #sintomas p, #tratamentos p, h3{
                width: 80%;
                margin: auto;
                line-height: 40px;
            }
            #tratamentos{
                width: 100%;
                margin: auto;
            }
            #laco-fundo{
                width: 60vw;
                height: 70vh;
                margin-top: 40%;
                margin-left: 30%;
            }

           .hp-direita{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0;
            }
            .hp-img{
                width: 80vw;
                height: 45vh;
                margin: auto;
            }
            .hp-img img{
                margin: auto;
                width: 100%;
            }
            .desktop{
                display: none;
            }
            .hp-texto-celular{
                display: block;
            }
            .hp-texto-celular, .hp-texto{
                width: 80vw;
                margin: 3% auto;
                font-size: 18px;
                line-height: 35px;
            }


            footer{
                width: 100vw;
                height: auto;
                background-color: black;
                float: left;
            }
            #logo_rodape{
                width: 25vw;
            }
            #logo_rodape img{
                width: 100%;
            }
            #linha-reta, #relato, #img-meio{
                display: none;
            }
            #lado{
                display: flex;
            }
            
            #acessibilidade, #suporte{
                width: auto;
                font-size: 12px;
                float: left;
                margin: 3%;
            }
            #suporte{
                margin-top: 7%;
            }
            #social a img{
                width: 30px;
            }
        
        }
        